<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>SPA family</h2>
  <a routerLink="nuclear">Family</a>&nbsp;
  
  <a routerLink="todo">Todo</a>&nbsp;
  <a routerLink="template">Template Form</a>&nbsp;
  <a routerLink="model">Model Form</a>&nbsp;
  <a routerLink="search">Search</a>&nbsp;
  <a routerLink="localService">LocalService</a>&nbsp;
  <a routerLink="localService2">LocalService2</a>&nbsp;
  <a routerLink="consumeremoteservice">ConsumeRemoteService</a>&nbsp;
  <a routerLink="directive">Inbuilt directive</a>&nbsp;
  <a routerLink="customDirective">Custom directive</a>&nbsp;
  <router-outlet></router-outlet>



